nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin: 5px;
    padding: auto;
}
nav li a{
text-decoration: none;
color: aqua;
}
nav li:hover{
    color: blue;
    background-color: red;
}
nav .manu{
    display: none;
    position: absolute;
    background-color: blue;
    padding: 0;
}
nav li:hover > .manu{
    display: block;
}